<!Doctype html>
<html>
<head><title> Stoichy </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
  <body>
  <div class="text-center">
 <img src="https://nkns-music-player.krishnanettem.repl.co/static/pic1.jpg" class="img-fluid" alt="duck">
 <h1> Stoichy </h1>
    <div id="HEADER">
      <a href="./artists.html">Artists</a>
      <a href="./playlists.html">Playlists</a>
      <a href="./settings.html">Settings</a>
      <a href="./contact us.html">Contact Us</a>
      </div>
    <div class="bg-success p-2 text-white" id= "english">
      <h3>English</h3>
      <p>you have to add english songs here</p>
      </div>
    <div id= "tamil">
      <h3>Tamil</h3>
      <p>you have to add tamil songs here</p>
      </div>
    <div class="text-sm-end" id= "telugu">
      <h3>Telugu</h3>
      <p>you have to add telugu songs here</p>
      </div>
    <div id= "hindi">
      <h3>Hindi</h3>
      <p>you have to add hindi songs here</p>
      </div>
    <div id= "other">
      <h3>Other</h3>
      <p>you have to add other songs here</p>
      </div>
    <div id= "popular_playlists">
      <h3>Popular Playlists</h3>
      <p>you have to add playlists here</p>
      </div>
    <div id= "popular_artists">
      <h3>Popular Artists</h3>
      <p>you have to add artists here</p>
      </div>
    <div id= "about_us">
      <h2>About Us</h2>
      <p>some random shit goes here</p>
    </div>
    <button type="button" class="btn btn-info" > <a href="./index.html">Back</a> </button></button>
  </div>
  </body>
</html>







 

  