<!DOCTYPE html>
<html>
  <head>
    <title>Stoichy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>

      body{
           background-image: url('/static/dong.png');
         }
      h1{
        color: rgb(20,20,20); 
        font-family : Trebuchet MS, Tahoma, Verdana;
      }

      h2{
        color: rgb(70,70,70);
      }

       </style>
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="container" id = 'n1'>
      <h1 class="text-center mt-2 mb-4">
        Stoichy
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
        Best Music streaming app created by nkns with a mission of streaming music for free.
      </p>
        </div>
      <br>
      <br>
      <br> 
      <br>
      <br>
      <br>
        <br>
        <br>
        <br>
        <br>
    <div class = "text-center">
    

      <p class = "lead"> Login/Sign-up to explore the world of music.          </p>
      <div class="text-center">
      <button type="button" class="btn btn-outline-light me-2">Login</button> or 
      <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
      </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% include 'footer.html' %}
  </body>
</html>